body {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,175,132,1) 0%, rgba(0,212,255,1) 100%);
  color: #626161;
  font-weight: normal;
}

h1 {
  text-align: center;
}

.form-container {
  background-color: white;
  border: .02em solid #a8a8a8;
  border-radius: 4px;
  padding: 5em;
  margin: 5em;
  width:80%;
}
